@using WindowToTheSociety.Web.ViewModels.Pages
@model SelectPagesViewModel
@{
    this.ViewData["Title"] = "Pages menu";
}

<div class="text-center row">
    <h1 class="col-md-6">Your pages:</h1>
    <div class="col-md-8">
        <div class="row">
            @foreach (var p in this.Model.AllPages)
            {
                <div class="card-body col-md-8">
                    @if (p.CoverPhotoUrl != null)
                    {
                        <img src="@p.CoverPhotoUrl" width="80%" class="">
                    }
                    else
                    {
                        <img src="~/facebook-cover-template.jpg" width="80%" class="">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@p.Title</h5>
                        <h5 class="mt-0">
                            <a asp-action="Page" asp-route-id="@p.Id">Go to @p.Title</a>
                        </h5>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary col-md-12" asp-controller="Pages" asp-action="CreatePage">Create Page</a>
    </div>
</div>