@using WindowToTheSociety.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<form action="/" method="post">
    <div class="form-group col-md-4 center">
        <input type="text" class="form-control" placeholder="Search..">
        <button type="submit" class="col-md-12 text-center btn btn-success">Search</button>
    </div>
</form>

