@model WindowToTheSociety.Web.ViewModels.Users.UsersProfileViewModel
@{
    this.ViewData["Title"] = "Profile";
}

<div class="container d-flex align-items-center flex-column crop img">
    <img src="@Model.CoverPhtotoUrl" class="masthead-avatar mb-5">
</div>
<div class="container d-flex align-items-center flex-column ">
    <img src="@Model.ProfilePictureUrl" width="500" height="300" class="masthead-avatar mb-5">
</div>


<div class="media col-md-4">
    <p>@Model.FirstName</p>
</div>