@model WindowToTheSociety.Web.ViewModels.Users.UsersProfileViewModel
@{
    this.ViewData["Title"] = "Profile";
}

<div class="media col-md-4">
    <img src="@Model.ProfilePictureUrl" width="300" class="mr-3 img-responsive">
    <img src="@Model.CoverPhtotoUrl" width="1000" class="mr-3 img-responsive">
</div>

<div class="media col-md-4">
    <p>@Model.FirstName</p>
</div>
